<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "NSW Stop Finder Automation Suite">
	<test name ="Functional Test">
		<classes>
		<class name = "com.qa.ahq.nswstopfinder.tests.NswStopFinderGetAPITest"/>
		</classes>
	</test>
</suite>
       